# Python
__pycache__/
*.pyc
*.egg-info/

# Database
*.db
*.db-journal
*.db-wal

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Android
android/app/build/
android/build/
android/.gradle/
android/*.apk
android/*.aab
android/local.properties
android/.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
